.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 48px;
}

.item {
  overflow: hidden;
}

.imageContainer,
.actorDesc {
  width: 240px;
  margin: 0 auto;
}

.actorDesc {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 12px;
}

.name {
  font-weight: 700;
}

.character {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
}